body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
}

.container {
  display: flex;
  min-height: 100vh;
}

/* Left Column */
.left-column {
  width: 50%;
  padding: 20px;
  background: black;
  border-right: 1px solid #ddd;
}

.left-column h2 {
  margin-bottom: 20px;
}

#topics {
  margin-bottom: 20px;
}

.add-topic input {
  padding: 10px;
  width: calc(100% - 110px);
  border: 1px solid #ddd;
  border-radius: 4px;
}

.add-topic button {
  padding: 10px;
  width: 100px;
  border: none;
  background: #007bff;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.add-topic button:hover {
  background: #0056b3;
}

/* Right Column */
.right-column {
  width: 50%;
  padding: 20px;
  background: darkslategray;
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Align content to the right */
}

.right-column h2 {
  margin-bottom: 20px;
  align-self: flex-start; /* Keep headers aligned to the left */
}

#login-form, #settings {
  width: 100%; /* Full width within the right column */
  margin-bottom: 20px; /* Space between login and settings */
}

#login-form input {
  display: block;
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#login-form button {
  padding: 10px;
  width: 100%;
  border: none;
  background: #28a745;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

#login-form button:hover {
  background: #218838;
}

#settings button {
  padding: 10px;
  width: 100%;
  border: none;
  background: #dc3545;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

#settings button:hover {
  background: #c82333;
}
