/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: #eaeaea;
}

header {
    background-color: darkslategray;
    color: #eaeaea;
    padding: 10px 20px;
    text-align: center;
}

.container {
    display: flex;
    margin-top: 20px;
}

.sidebar {
    width: 25%;
    background-color: darkslategray;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar h2, .sidebar h3 {
    font-size: 18px;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

.sidebar li:hover {
    background-color: dimgray;
}

#new-topic-form input, #new-topic-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#new-topic-form button {
    width: 100%;
    padding: 10px;
    background-color: dimgray;
    color: #eaeaea;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#new-topic-form button:hover {
    background-color: gray;
}

.main-content {
    width: 75%;
    padding: 20px;
    background-color: darkslategray;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-content h2 {
    font-size: 22px;
    margin-bottom: 20px;
}

footer {
    background-color: darkslategray;
    color: #eaeaea;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

a:link {
    color: goldenrod;
}

a:visited {
    color: khaki;
}

a:hover {
    color: peru;
}

a:active {
    color: saddlebrown;
}
    
